In [1]:
import pandas as pd
# interaction = pd.read_csv("../../data/raw/RAW_interactions.csv")
# pivot = interaction.pivot(index = 'user_id',columns='recipe_id', values='rating').fillna(0)
# pivot.to_csv('data/cleaned/interactions.csv', index = False)

In [2]:
interactions = pd.read_csv("../../data/raw/RAW_interactions.csv")

In [4]:
interactions = interactions[["user_id", "recipe_id", "rating"]]

In [11]:
interactions

            user_id  recipe_id  rating
0             38094      40893       4
1           1293707      40893       5
2              8937      44394       4
3            126440      85009       5
4             57222      85009       5
...             ...        ...     ...
1132362      116593      72730       0
1132363      583662     386618       5
1132364      157126      78003       5
1132365       53932      78003       4
1132366  2001868099      78003       5

[1132367 rows x 3 columns]

In [21]:
uid = interactions[(interactions.recipe_id==78003) & (interactions.rating > 3)].user_id
interactions[(interactions.user_id.isin(uid))&(interactions.rating>3)].groupby('recipe_id').count().sort_values('user_id')

           user_id  rating
recipe_id
343              1       1
159927           1       1
159912           1       1
159884           1       1
159493           1       1
...            ...     ...
31020            2       2
29526            2       2
26947            2       2
175079           2       2
78003            4       4

[1534 rows x 2 columns]

SyntaxError: invalid syntax (<ipython-input-24-8a78b0428a56>, line 1)

In [7]:
a = dict()
for uid in interactions['user_id']:
    if uid in a:
        a[uid] +=1
    else:
        a[uid] = 1

In [8]:
uidcount = pd.DataFrame(a.items(), columns = ['uid', 'count']).sort_values('count', ascending = False)

In [9]:
uidcount[uidcount['count']>10]

          uid  count
148    424680   7671
428     37449   5603
317    383346   4628
384    169430   4076
335    128473   3917
...       ...    ...
991    199105     11
57301  116105     11
29132  824337     11
2162   989355     11
3130   248602     11

[11446 rows x 2 columns]

In [30]:
interaction.shape

(1132367, 5)